{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock css %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <h1>Login</h1>
    <form class="form-with-validation" action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
        {{form}}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}"/>
        {% endif %}
        <button class="form-submit">Submit</button>
    </form>
{% endblock content %}